<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<h1><%= title %></h1>
	<p id="carCount">Car Count</p>
	<button type="button" onclick="createCars()">Create Cars</button>
	<script src='/javascripts/car.js'></script>
	<script src='/javascripts/index.js'></script>
  </body>
</html>
